<?xml version="1.0" encoding="utf-8" standalone="no"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.yf.smart.weloopx.dist" platformBuildVersionCode="21" platformBuildVersionName="5.0.1-1624448">
    <uses-feature android:name="android.hardware.bluetooth_le" android:required="true"/>
    <uses-feature android:name="android.hardware.camera"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.RECORD_VIDEO"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.BROADCAST_STICKY"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_ADDED"/>
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_CHANGED"/>
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_INSTALL"/>
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_REPLACED"/>
    <uses-permission android:name="android.permission.RESTART_PACKAGES"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION"/>
    <application android:allowBackup="true" android:icon="@drawable/ic_launcher" android:label="@string/app_name" android:name="com.yf.smart.weloopx.app.WeLoopApplication" android:persistent="true" android:theme="@style/AppTheme">
        <meta-data android:name="com.baidu.lbsapi.API_KEY" android:value="Rq6s4mbjLZ6LbVd90IiwvV3G"/>
        <meta-data android:name="UMENG_APPKEY" android:value="55e550e667e58e50a2002a0c"/>
        <meta-data android:name="UMENG_CHANNEL" android:value="official"/>
        <meta-data android:name="wechat_app_id" android:value="wx7442b74d478ff8fa"/>
        <meta-data android:name="wechat_app_secret" android:value="d093ff7ee4bf1cd8f55a5be58f745794"/>
        <activity android:label="@string/app_name" android:name="com.yf.smart.weloopx.android.ui.activities.SplashScreenActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <meta-data android:name="api_key" android:value="4KMMjqncxSCCCtMMTP6sFj7B"/>
        <provider android:authorities="com.yf.smart.weloopx.data.WeLoopProvider" android:exported="true" android:name="com.yf.smart.weloopx.data.WeLoopProvider"/>
        <receiver android:name="com.yf.smart.weloopx.android.broadcasts.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <meta-data android:name="ormdroid.database.name" android:value="yfgattlib.db"/>
        <service android:enabled="true" android:name="com.yf.gattlib.server.android.GattServerService" android:permission="android.permission.BLUETOOTH_ADMIN">
            <intent-filter>
                <action android:name="com.yf.gattlib.intent.action.GATT_SERVICE"/>
            </intent-filter>
        </service>
        <service android:label="@string/app_name" android:name="com.yf.gattlib.notification.NLService" android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE" android:process=":nlservice">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService"/>
            </intent-filter>
        </service>
        <receiver android:name="com.yf.smart.weloopx.android.broadcasts.MyCallReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.NEW_OUTGOING_CALL"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.yf.gattlib.notification.SMSReceiver">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.yf.smart.weloopx.android.broadcasts.ReminderReceiver">
            <intent-filter>
                <action android:name="android.reminder.push"/>
                <action android:name="android.download.upload.locationinfo"/>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.start.app.run.reminder"/>
                <action android:name="com.yf.smart.weloopx.connected"/>
                <action android:name="com.yf.smart.weloopx.disconnected"/>
                <action android:name="com.yf.smart.push.msg"/>
                <action android:name="android.upload.activationtime"/>
            </intent-filter>
        </receiver>
        <service android:enabled="true" android:exported="false" android:label="@string/accessibility_label" android:name="com.yf.gattlib.notification.NLAccessibilityService" android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE" android:process=":nlservice">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService"/>
            </intent-filter>
        </service>
        <activity android:excludeFromRecents="true" android:finishOnTaskLaunch="true" android:launchMode="singleInstance" android:name="org.acra.CrashReportDialog" android:screenOrientation="portrait" android:theme="@android:style/Theme.Dialog"/>
        <activity android:launchMode="singleTask" android:name="com.yf.smart.weloopx.android.ui.activities.MainActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.yf.smart.weloopx.activitys.RegisterPhoneActivity1" android:screenOrientation="portrait"/>
        <activity android:name="com.yf.smart.weloopx.activitys.RegisterPhoneActivity0" android:screenOrientation="portrait"/>
        <activity android:launchMode="singleInstance" android:name="com.yf.smart.weloopx.activitys.RegisterStart" android:screenOrientation="portrait"/>
        <activity android:name="com.yf.smart.weloopx.activitys.RegisterPhoneActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.yf.smart.weloopx.test.ui.TestActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.yf.smart.weloopx.activitys.Login" android:screenOrientation="portrait"/>
        <activity android:name="com.yf.smart.weloopx.android.ui.activities.UpgradeActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.yf.smart.weloopx.android.ui.activities.UploadLogActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.yf.smart.weloopx.activitys.TargetSetting" android:screenOrientation="portrait"/>
        <activity android:label="@string/title_activity_week_statistics" android:name="com.yf.smart.weloopx.android.ui.activities.StatisticsActivity" android:screenOrientation="portrait"/>
        <activity android:label="@string/title_activity_week_statistics" android:name="com.yf.smart.weloopx.android.ui.activities.StatisticsActivity2" android:screenOrientation="portrait"/>
        <activity android:name="com.yf.smart.weloopx.activitys.UserInfoSetting" android:screenOrientation="portrait"/>
        <activity android:name="com.yf.smart.weloopx.activitys.ResetPassword" android:screenOrientation="portrait"/>
        <activity android:name="com.yf.smart.weloopx.commons.WhiteListActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.yf.smart.weloopx.commons.WhiteListChoiceAppActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.yf.smart.weloopx.android.ui.activities.AlarmClockActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.yf.smart.weloopx.android.ui.activities.TrajectoryActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.yf.smart.weloopx.android.ui.activities.AlarmEditActivity" android:screenOrientation="portrait" android:theme="@style/timeTheme"/>
        <activity android:name="com.yf.smart.weloopx.android.ui.activities.RemindersActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.yf.smart.weloopx.android.ui.activities.RemindersAddActivity" android:screenOrientation="portrait" android:theme="@style/timeTheme"/>
        <activity android:name="com.yf.smart.weloopx.activitys.WelcomeActivity" android:screenOrientation="portrait" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <service android:enabled="true" android:exported="false" android:name="com.yf.smart.weloopx.android.services.PlayMusicService" android:permission="android.permission.MODIFY_AUDIO_SETTINGS">
            <intent-filter>
                <action android:name="com.yf.weloop.find.phone"/>
                <category android:name="android.intent.category.default"/>
            </intent-filter>
        </service>
        <activity android:excludeFromRecents="true" android:name="com.yf.smart.weloopx.android.ui.activities.TipActivity" android:noHistory="true" android:screenOrientation="portrait" android:theme="@android:style/Theme.Holo.Dialog.NoActionBar">
            <intent-filter>
                <action android:name="com.yf.gattlib.intent.action.SHOW_TIP"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name="com.yf.smart.weloopx.android.ui.activities.WatchfaceActivity" android:screenOrientation="portrait"/>
        <activity android:exported="false" android:launchMode="singleTask" android:name="pl.gatti.dgcam.DgCamActivity" android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="pl.gatti.dgcam.ACTION_CAMERA"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:launchMode="singleTask" android:name="pl.gatti.dgcam.DgCamActivityForTommy2" android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:name="com.yf.smart.weloopx.android.ui.activities.DfuActivity" android:screenOrientation="portrait"/>
        <service android:enabled="true" android:name="com.yf.gattlib.client.dfu.DFUService"/>
        <activity android:name="com.yf.smart.weloopx.android.ui.activities.ChoiceMediaPlayerActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.yf.smart.weloopx.android.ui.activities.DisturbActivity" android:screenOrientation="portrait" android:theme="@style/timeTheme"/>
        <service android:enabled="true" android:exported="true" android:name="com.yf.smart.weloopx.android.services.LocationService"/>
        <service android:enabled="true" android:name="com.baidu.location.f" android:process=":remote">
            <intent-filter>
                <action android:name="com.baidu.location.service_v2.2"/>
            </intent-filter>
        </service>
        <service android:name="com.umeng.update.net.DownloadingService" android:process=":DownloadingService"/>
        <activity android:name="com.umeng.update.UpdateDialogActivity" android:screenOrientation="portrait" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity android:name="com.yf.smart.weloopx.android.ui.activities.FriendSearchActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.yf.smart.weloopx.android.ui.activities.MessageNotification" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:exported="true" android:name="com.yf.smart.weloopx.dist.wxapi.WXEntryActivity" android:screenOrientation="portrait" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity-alias android:configChanges="keyboardHidden|orientation|screenSize" android:exported="true" android:name="com.yf.smart.weloopx.alpha.wxapi.WXEntryActivity" android:screenOrientation="portrait" android:targetActivity="com.yf.smart.weloopx.dist.wxapi.WXEntryActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity-alias android:configChanges="keyboardHidden|orientation|screenSize" android:exported="true" android:name="com.yf.smart.weloopx.beta.wxapi.WXEntryActivity" android:screenOrientation="portrait" android:targetActivity="com.yf.smart.weloopx.dist.wxapi.WXEntryActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity-alias android:configChanges="keyboardHidden|orientation|screenSize" android:exported="true" android:name="com.yf.smart.weloopx.cruze.wxapi.WXEntryActivity" android:screenOrientation="portrait" android:targetActivity="com.yf.smart.weloopx.dist.wxapi.WXEntryActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity android:name="com.yf.smart.weloopx.android.ui.activities.MoreProductActivity" android:screenOrientation="portrait"/>
        <activity android:label="@string/title_activity_msg_detail" android:name="com.yf.smart.weloopx.android.ui.activities.MsgDetailActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.yf.smart.weloopx.android.ui.activities.FirstGuideActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.yf.smart.weloopx.android.ui.activities.RunningInfoListActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.yf.smart.weloopx.android.ui.activities.RunningInfoDetailsActivity" android:screenOrientation="portrait"/>
        <service android:exported="false" android:name="com.yf.smart.weloopx.android.services.TimingUploadDeviceDataService"/>
        <receiver android:name="com.yf.smart.weloopx.android.broadcasts.MyBaiduPushMessageReceiver">
            <intent-filter>
                <action android:name="com.baidu.android.pushservice.action.MESSAGE"/>
                <action android:name="com.baidu.android.pushservice.action.RECEIVE"/>
                <action android:name="com.baidu.android.pushservice.action.notification.CLICK"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.baidu.android.pushservice.PushServiceReceiver" android:process=":bdservice_v1">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
                <action android:name="com.baidu.android.pushservice.action.notification.SHOW"/>
                <action android:name="com.baidu.android.pushservice.action.media.CLICK"/>
                <action android:name="android.intent.action.MEDIA_MOUNTED"/>
                <action android:name="android.intent.action.USER_PRESENT"/>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED"/>
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.baidu.android.pushservice.RegistrationReceiver" android:process=":bdservice_v1">
            <intent-filter>
                <action android:name="com.baidu.android.pushservice.action.METHOD"/>
                <action android:name="com.baidu.android.pushservice.action.BIND_SYNC"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>
                <data android:scheme="package"/>
            </intent-filter>
        </receiver>
        <service android:exported="true" android:name="com.baidu.android.pushservice.PushService" android:process=":bdservice_v1">
            <intent-filter>
                <action android:name="com.baidu.android.pushservice.action.PUSH_SERVICE"/>
            </intent-filter>
        </service>
        <service android:exported="true" android:name="com.baidu.android.pushservice.CommandService"/>
        <activity android:label="@string/title_activity_problem_diagnosis" android:name="com.yf.smart.weloopx.android.ui.activities.ProblemDiagnosisActivity"/>
        <activity android:label="@string/title_activity_problem_diagnosis" android:name="com.yf.smart.weloopx.android.ui.activities.ImageCropActivity" android:screenOrientation="portrait"/>
    </application>
</manifest>
